.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark);
  width: 100%;
  height: 100vh;
  padding-inline: 20px;
}

.main-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  padding: 20px;
  height: 95%;
  border-radius: 8px;
  background-color: transparent;
}

.main-title {
  text-align: center;
  line-height: 1.6;
}

.main-title h1 {
  font-size: 50px;
  font-weight: 700;
}

.home-page {
  display: flex;
  align-items: center;
}

.page-wrap {
  flex: 1 1 0%;
  overflow-y: auto;
  height: 100%;
}

/* RESPONSIVE */
@media screen and (max-width: 1024px) {
  .main-card {
    max-width: 100%;
  }
}
/* RESPONSIVE END */
